spring-social-auth0/src/main/resources/org/springframework/social/auth0/config/xml/spring-social-auth0-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:auth0="http://www.springframework.org/schema/social/auth0"
	targetNamespace="http://www.springframework.org/schema/social/auth0">

	<xs:element name="config">
		<xs:complexType>
			<xs:attribute name="domain" use="required" type="xs:string" />
			<xs:attribute name="app-id" use="required" type="xs:string" />
			<xs:attribute name="app-secret" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>

</xs:schema>